{# empty Twig template #}
{{ set(this, 'title', "Thank You") }}
<div class="login-page">
    <div class="container">
        <div class="tab-content">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <p class="helper-text">Your reset password email has been sent successfully.</p>
                    <a href="{{_AppHelper.getLoginUrl()}}" class="button green">Back to login</a>
                </div>
            </div>
        </div>
    </div>
</div>