{{ set(this, 'title', 'Signup Successful') }}
{% set networkData = _Network.getNetworkData() %}
<div class="login-page">
    <div class="container">
        <div class="tab-content">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <p class="helper-text"> Thank You for registering with us. Please check your inbox to verify your email address.</p>
                    <a href="{{networkData.defaultBlogUrl}}" class="button green">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>