
/* Begin Content box breakup css */
.container {
    max-width: inherit !important;
}
.content_box_page .content_area {
    padding: 0px !important;
    margin-bottom: 50px;
	float: left;
	width: 100%;
}
.content_box_page .is-section {
    position: relative !important;
    float: left !important;
    width: 100% !important;
    background-color: #ffffff;
}

.is-wrapper > div.is-section-20 {
    height: 20vh !important;
}
.is-wrapper > div.is-section-30 {
    height: 30vh !important;
}
.is-wrapper > div.is-section-40 {
    height: 40vh !important;
}
.is-wrapper > div.is-section-50 {
    height: 50vh !important;
}
.is-wrapper > div.is-section-60 {
    height: 60vh !important;
}
.is-wrapper > div.is-section-75 {
    height: 75vh !important;
}
.is-wrapper > div.is-section-80 {
    height: 80vh !important;
}
.is-wrapper > div.is-section-100 {
    height: 100vh !important;
}
.content_box_page .is-box .is-container {
    margin-top: 80px;
    margin-bottom: 80px;
}
.content_box_page .is-section .column.full h1, .content_box_page .is-section.is-section-100 .column.third h1 {
    font-size: 23px !important;
    margin-bottom: 0px !important;
}
.content_box_page .is-section .column.full h1.size-48, .content_box_page .is-section .column.full .display h1 {
    font-size: 40px !important;
    line-height: 1.3 !important;
}
.content_box_page .is-section hr {
    border-top: rgba(0, 0, 0, 0.18) 1px solid !important;
    margin: 0 !important;
}
.content_box_page .is-section .row > * {
    min-height: inherit !important;
}
.content_box_page .container, .content_box_page .login-page > .container, .content_box_page .header__container, .content_box_page .profile__container, .content_box_page .article__banner--caption, .content_box_page .article__header {
    width: 90% !important;
}
/* .content_box_page .is-section.is-section-100 {
    padding: 85px 0;
}
.content_box_page .is-section.is-section-100.is-shadow-1, .content_box_page .is-section.is-section-100.is-boxed-layout {
    padding: 0;
}
.content_box_page .is-section.is-section-100.is-boxed-layout .is-boxes {
    padding: 55px 0;
}
.content_box_page .is-box-8 .column.full, .content_box_page .is-box-6 .column.full, .content_box_page .is-box-4 .column.full  {
    padding: 60px 0;
} */
.content_box_page .is-section p b, .content_box_page .is-section h1 b, .content_box_page .is-section h2 b, .content_box_page .is-section h3 b, .content_box_page .is-section h4 b, .content_box_page .is-section h5 b, .content_box_page .is-section h6 b {
    font-weight: bold !important;
}
.content_box_page h1 span, .content_box_page h2 span, .content_box_page h3 span, .content_box_page h4 span, .content_box_page h5 span, .content_box_page h6 span, .content_box_page p span {
    font-size: inherit !important;
}
/* //End Content box breakup css */