.header,
.header__heading-container {
    position:relative!important;
}
.profile {
    &__container {
        @extend .container;
    }
    &__menu {
        background-color:$white;
        box-shadow:0px 0px 25px 0px rgba($dark-color, 0.2);
        float:right;
        padding:30px 20px;
        width:300px;
        position:absolute;
        top:100px;
        right:0px;
        z-index:90;

		@media #{$media-phone}, #{$media-iPhoneLarge}, #{$media-iPhoneMedium} {
            right:20px;
            width:250px;
        }

        @media (min-width: 768px) and (max-width: 991px) {
            right:19px;
        }

        &-image {
            background-repeat:no-repeat;
            background-size:100%;
            @include border-radius(100%);
            float:left;
            margin:0px 15px 20px 0px;
            height:80px;
            width:80px;
            @media #{$media-phone}, #{$media-iPhoneLarge}, #{$media-iPhoneMedium} {
                height:50px;
                width:50px;
            }
        }
        &-content {
            float:left;
            margin-bottom:30px;
            width: calc(100% - 115px);
            @media #{$media-phone}, #{$media-iPhoneLarge}, #{$media-iPhoneMedium} {
                width: calc(100% - 70px);
            }
        }
        &-name {
            font-style:15px;
            font-weight:bold;
            line-height:25px;
            width: 85%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        &-email {
            font-style:11px;
            line-height:20px;
            margin-bottom:20px;
            width: 85%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        &-button {
            &, &:link, &:visited, &:active {
                background-color:$selected-color;
                color:$white;
                text-align:center;
                display:block;
                padding:10px;
            }
        }
        &-navigation {
            clear:both;
            list-style:none;
            margin-bottom:0px;
            padding:0px;

			&-link {
                &, &:link, &:visited, &:active {
                    display:block;
                    line-height:32px;
                    text-transform:uppercase;
                }
            }
        }
    }
}
.Profile_Open #header__menu {
    display:block!important;
}

.profile_overlay {
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:9;
    content:'';
    display:none;
    position:fixed;
    background:rgba($dark-color, 0.01) none repeat scroll 0 0;
}
body.no_profile {
    .profile_overlay {
        display:block;
    }
}
