.container {
    @include container-fixed($grid-gutter-width);

    @include phone {
        padding-left: 10px;
        padding-right: 10px;
    }
    @include tablet {
        padding-left: 10px;
        padding-right: 10px;
    }
    @include desktop {
        width: $screen-desktop;
    }
    @include screen-lg-desktop {
        width: $screen-lg-desktop;
    }
}

.row {
    @include make-row;

    &-centered {
        text-align: center;
    }

    @include phone {
        margin-right: -10px;
        margin-left: -10px;
    }
}

.col {
    &-quarter,
    &-quarter-short {
        @include make-sm-column(6);
        @include make-md-column(3);
    }
    &-third,
    &-third-short {
        @include make-sm-column(6);
        @include make-md-column(4);
    }
    &-half {
        @include make-sm-column(12);
        @include make-md-column(6);
    }
    &-two-thirds,
    &-two-thirds-short {
        @include make-sm-column(6);
        @include make-md-column(8);
    }
    &-three-quarters {
        @include make-sm-column(12);
        @include make-md-column(9);
    }
    &-full {
        @include make-sm-column(12);
    }
}
/* Common section */
.upper {
    text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
    .container {
        width:95% !important;
        margin-left:auto;
        margin-right:auto;
    }
}
.button {
    &.green {
        background: darken($gray-4-color, 20%) none repeat scroll 0 0 !important;
        border-color: darken($gray-4-color, 20%) !important;
        color: $white !important;
        &:hover {
            background: darken($gray-4-color, 30%) none repeat scroll 0 0 !important;
            border-color: darken($gray-4-color, 30%) !important;
        }
    }
}
.has-margin-top-20 {
    margin-top: 20px;
}
.green {
    color: $black !important;
    position: relative;
    &:hover {
        color:darken($black, 40%) !important;
    }

}
.blog-image {
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.image-covered {
    @include background-size(cover);
    background-position: center;
}
.user-profile-pic {
    width: 100px;
    height: 100px;
    @include border-radius(50%);
    display: inline-block;
}

/* Begin fancybox style breakup */
.fancybox-overlay {
    background: rgba(0, 0, 0, 0.8) url("fancybox_overlay.png") repeat scroll 0 0 !important;
}
.fancybox-wrap {
    .fancybox-skin {
        background: none repeat scroll 0 0 !important;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
    }
    .fancybox-outer {
        z-index: 50;
    }
    .fancybox-title {
        display: none !important;
    }
    .fancybox-close {
        background-image: none;
        background-color: $black;
        @include border-radius(50%);
        right: -8px;
        top: -14px;
        z-index: 1;
        &:before {
            content:"\f00d";
            font-family: $iconfont;
            color: $white;
            position:absolute;
            top: 50%;
            left: 50%;
            @include translate(-50%,-50%);
        }
    }
}

/* End fancybox style breakup */
